[Unit]
Description=S3FS mount for Immich (Ceph S3)
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/s3fs immich-uploads /mnt/s3fs/immich -o passwd_file=/home/egk/.passwd-s3fs -o url=http://100.90.57.27:80 -o use_path_request_style -o allow_other
ExecStop=/bin/fusermount -u /mnt/s3fs/immich
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
